<!DOCTYPE html>
<html style="width: 100%; height: 100%;">

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="w-full h-full">
  <header class="shadow-xl w-full">
    <nav class="flex lg:justify-between justify-center flex-wrap p-2">
      <a href="" class="text-3xl ml-2 font-black text-gray-700">Mouslim</a>
      <ul class="mt-1 mr-2 space-x-2">
        <li class="inline-block"><a href=""></a>contact</li>
        <li class="inline-block"><a href=""></a>services</li>
        <li class="inline-block"><a href=""></a>a propos</li>
      </ul>
    </nav>
  </header>
  <main class="mx-4">
    <h1 class="text-4xl font-bold my-6 text-gray-500">reparation de tout les équipements<br>
      électriques</h1>
    <div class="flex flex-wrap lg:flex-row-reverse justify-between">
      <img class="lg:w-1/2 w-96 lg:h1/2 h-64" src="images/muslim.jpeg" alt="">
      <section class="lg:w-1/2 w-full flex flex-wrap items-center">
        <div class="lg:w-1/2 w-full">
          <p>
            Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Culpa sed suscipit tempora ullam quidem nam
            sunt
          </p>
          <button>test</button>
        </div class="lg:w-1/2 w-full">
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Culpa sed suscipit tempora ullam quidem nam
            sunt
          </p>
          <button>test</button>
        </div>
      </section>
    </div>
  </main>
</body>

</html>